<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
</head>

<body>

  <%# -------------------------------------------------- %>
  <%# _body is the content from the page we are wrapping %>
  <%# -------------------------------------------------- %>
  <%- include('_body') %>

  <script type="module" src="<%- entryScript %>"></script>
</body>

</html>

<script entry>
  import "/index.css";
  import "highlight.js/styles/atom-one-dark.css"
</script>