---
generate: /*
wrapper: wrappers/main
docsDir: md
---

<div class="relative h-screen md:flex">
  <!-- mobile menu bar -->
  <div class="bg-gray-800 text-gray-100 flex align-center justify-between md:hidden">
    <!-- logo -->
    <div class="text-xl font-black p-4 text-white">AIRFRY.JS</div>

    <div class="mt-4">
      <a href="https://github.com/jaunt/airfry">
        <img class="object-scale-down w-6 inline-block" src="/github.png" alt="airfry github repository">
        <img class="object-scale-down w-14 inline-block ml-1" src="/github_logo.png" alt="airfry github repository"></a>
    </div>

    <!-- mobile menu button -->
    <button class="mobile-menu-button p-4 focus:outline-none focus:bg-gray-700">
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>

  <!-- sidebar -->
  <div class="sidebar bg-gray-700 text-blue-100 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out overflow-y-auto px-6 pt-6">

    <!-- logo -->
    <a href="/" class="text-xl font-black text-white">AIRFRY.JS</a>

    <div class="mt-4">
      <a href="https://github.com/jaunt/airfry">
        <img class="object-scale-down w-6 inline-block" src="/github.png" alt="airfry github repository">
        <img class="object-scale-down w-14 inline-block ml-1" src="/github_logo.png" alt="airfry github repository"></a>
    </div>
    <!-- nav -->
    <nav id="nav" class="w-30">

    </nav>
  </div>

  <div class="flex-1 prose prose-a:text-blue-600 overflow-y-auto max-w-none px-8 py-8">
    <% if (!Boolean(html)) { %>
    <span class="font-black">TODO</span>
    <% } else { %>
    <%- html %>
    <% } %>
    <div id="showNext" class="border border-1 w-full p-4 mt-8 hidden">
      <div>
        Up Next:
        <span class="ml-2" id="next">
        </span>
      </div>
    </div>
    <div id="showEnd" class="border border-1 w-full p-4 mt-8 hidden">
      <div>
        Go to the beginning:
        <span class="ml-2" id="next">
        </span>
      </div>
    </div>
  </div>
</div>

<script entry>
  import toc from "/toc.json"
  let nav = document.querySelector('#nav')
  let group = "";
  let html = "";
  let current;
  toc.forEach((page, index) => {
    if (group != page.group) {
      group = page.group
      html += `<div class="mt-4 mb-1 font-thin uppercase">${page.group}</div>`
    }
    let prefix = "";
    if (window.location.pathname + window.location.search == "/" + page.url + "/") {
      prefix = "before:content-['|'] before:mr-1";
      current = index;
    }
    html += `<a class="${prefix} block rounded transition duration-200 hover:bg-blue-700 hover:text-white px-2 py-1" href="/${page.url}/">${page.title}</a>`
  });
  nav.innerHTML = html;
  html = ""
  let showNextElement = document.querySelector('#showNext')
  let showDoneElement = document.querySelector('#showEnd')
  let next;
  let nextElement;
  if (current < toc.length - 1) {
    next = toc[current + 1]
    showNextElement.style.display = "block"
    nextElement = showNextElement.querySelector('#next')
  } else {
    next = toc[0]
    showDoneElement.style.display = "block"
    nextElement = showDoneElement.querySelector('#next')
  }
  if (next) {
    nextElement.innerHTML = `<a href="/${next.url}/">${next.title}</a>`
  }
</script>


<script generate-use:"generators/docsMD">
</script>