---
generate: /*
wrapper: wrappers/main
docsDir: md
---

<div class="relative h-screen md:flex">
  <!-- mobile menu bar -->
  <div class="bg-gray-800 text-gray-100 flex justify-between md:hidden">
    <!-- logo -->
    <a href="#" class="block p-4 text-white font-bold">AIRFRY</a>

    <!-- mobile menu button -->
    <button class="mobile-menu-button p-4 focus:outline-none focus:bg-gray-700">
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>

  <!-- sidebar -->
  <div class="sidebar bg-blue-800 text-blue-100 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out overflow-y-auto px-6">

    <!-- logo -->
    <div class="text-xl font-black  pt-6 text-white">AIRFRY.JS</div>

    <!-- nav -->
    <nav id="nav">

    </nav>
  </div>

  <div class="flex-1 prose prose-a:text-blue-600 overflow-y-auto max-w-none px-16 py-8">
    <% if (!Boolean(html)) { %>
    <span class="font-black">TODO</span>
    <% } else { %>
    <%- html %>
    <% } %>
  </div>

</div>

<% if (locals.upNextTitle) { %>
<div class="fixed bottom-0 left-0 w-full bg-blue-600 text-white font-black pl-2">
  Up Next: <%= upNextTitle %>
</div>
<% } %>

<script entry>
  // hello

  const readJson = () => {
    fetch('/toc.json')
      .then(response => {
        if (!response.ok) {
          throw new Error("HTTP error " + response.status);
        }
        return response.json();
      })
      .then(json => {
        let nav = document.querySelector('#nav')
        let group = "";
        let html = "";
        json.forEach(page => {
          if (group != page.group) {
            group = page.group
            html += `<div class="mt-4 mb-1 font-thin uppercase">${page.group}</div>`
          }
          let prefix = "";
          if (window.location.pathname + window.location.search == "/" + page.url + "/") {
            prefix = "before:content-['|'] before:mr-1";
          }
          html += `<a class="${prefix} block rounded transition duration-200 hover:bg-blue-700 hover:text-white px-2 py-1" href="/${page.url}/">${page.title}</a>`
        });
        nav.innerHTML = html;
      })
      .catch(error => {
        console.log(error);
      })
  }

  readJson();
</script>


<script generate-use:"generators/docsMD">
</script>