---
generate: /docs/*
wrapper: wrappers/main
docsDir: md
---

<%# Show page %>
<div class="grid grid-cols-4 w-full">
  <div class="col-span-4 bg-blue-600 rounded-lg text-white px-4 py-1 font-black">
    AIRFRY
  </div>
  <div class="col-span-1 prose-sm prose-blue my-4">
    <% pages.forEach(item=>{ %>
    <div class="mr-2 my-2 flex flex-row">
      <% if (pagePath == "/docs/"+item.url ) { %>
      <div class="font-bold"><%= item.title %></div>
      <% } else { %>
      <a href="/docs/<%= item.url %>/"><%= item.title %></a>
      <% } %>
    </div>
    <% }); %>
  </div>
  <div class="col-span-3 prose prose-red m-auto py-8">
    <% if (!Boolean(html)) { %>
    <span class="font-black">TODO</span>
    <% } else { %>
    <%- html %>
    <% } %>
  </div>
</div>

<script entry>
  // this is a test
</script>

<script generate-use:"generators/docsMD">
</script>