---
generate: /docs/*
wrapper: wrappers/main
docsDir: md
---

<% if (locals.toc) { %>

<div class="container">
  <%# Show table of contents %>
  <% locals.pages.forEach(item=>{ %>
  <div class="border-red-700 bg-blue-200 rounded-xl w-16">
    Title: <%= item.title %>
    Url: <a class="airfryLink" href="/docs/<%= item.url %>/">Link</a>
  </div>
  <% }); %>
</div>
<% } else { %>

<%# Show page %>
<%- html %>

<% } %>

<script entry>
  // this is a test
</script>

<script generate-use:"generators/docsMD">
</script>