---
generate: /
title: Airfry Documentation
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
</head>

<body class="bg-red-400 p-4">
  <script type="module" src="/main.js"></script>
</body>

</html>

<script entry>
  import "virtual:windi.css";
</script>