---
generate: /
title: Airfry
wrapper: wrappers/main
---

<div class="prose prose-a:text-blue-600 max-w-none  flex flex-col h-screen items-center justify-center">
  <div class="bg-slate-700 w-96 h-40 rounded-lg  flex flex-col items-center justify-center">
    <div class="flex flex-row">
      <div class="text-white text-5xl font-bold">AIRFRY.JS</div>
      <svg width=" 47" height="51" viewBox="0 0 47 51" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_4_23)">
          <path d="M7 15.1866C25.15 15.1866 37.25 5.90157 40 3M7 27.3732C17.3125 26.7929 36.7 25.9804 40 20.4094M7 39.5598C13.1875 40.1401 31.75 40.6043 40 37.8188" stroke="white" stroke-width="6" stroke-linecap="round" />
        </g>
        <defs>
          <filter id="filter0_d_4_23" x="-0.000244141" y="0" width="47.0011" height="51" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
            <feOffset dy="4" />
            <feGaussianBlur stdDeviation="2" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_4_23" />
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_4_23" result="shape" />
          </filter>
        </defs>
      </svg>
    </div>
    <div class="text-white text-2xl font-bold mt-3">
      Fast, Healthy, Delicious
    </div>
  </div>
  <div class="text-xl font-black mt-8 w-80 text-center">
    A jamstack site generator for software engineers.
  </div>
  <a class="text-4xl mt-8" href="/guide/intro/">docs</a>
</div>