---
generate: /
title: Airfry Documentation
wrapper: wrappers/main
---

<div class="col-span-4 bg-blue-600 rounded-lg text-white px-4 py-1 font-black">
  AIRFRY
</div>
<a class="underline-blue-600" href="/docs/intro/">Intro</a>