---
generate: /
title: Airfry Documentation
wrapper: wrappers/main
---

<div class="font-bold text-size-xl text-white">
  Welcome to Airfry
</div>
<a class="airfryLink" href="/docs/">Documentation</a>